.SingleBookPage_containerDiv {
    position: relative;
}

.btn-floating {
    position: absolute;
    right: 10px;
    top: 10px;
}

.SingleBookPage_image {
    max-width: 200px;
    text-align: center;
    margin-left: 35px;
}

.SingleBookPage_bookInfoSection {
    float: right;
    padding: 25px;
}

.card-content>p {
    padding: 0;
}