{
    "presets": [
        "es2015",
        "env",
        "react",
        "stage-0"
    ],
    "plugins": [
        ["react-css-modules", {
            "webpackHotModuleReloading": true,
            "context": "./"
        }],
        "babel-plugin-react-css-modules",
        "react-hot-loader/babel",
        "transform-class-properties",
        "syntax-async-functions",
        "transform-regenerator", ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ]
}