.collection {
    padding-left: 0;
    padding: 25px;
    overflow: hidden;
}

.collection .collection-item.avatar {
    padding-left: 25px;
}

.BookItem_bookCover {
    float: left;
    margin-right: 25px;
    width: 128px;
}