.errorDiv {
    text-align: center;
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 1.7 em;
}

.inputField {
    margin-top: 0;
}

.categorySearchButton {
    width: 100%;
}