.containerBox {
    position: relative;
}

.cardBox {
    border: 1px solid rgba(180, 180, 180, 0.5);
    overflow: hidden;
    margin: 25px 0;
    padding: 20px;
}

.title {
    padding-bottom: 5px;
    margin-left: 10px;
    color: teal;
}

.subtitle {
    margin-left: 5%;
    padding-bottom: 5px;
    color: rgba(1, 163, 163, 0.596);
}

.coverDiv {
    float: left;
}

.cover {
    width: 100%;
    padding: 15px;
}

.details {
    float: left;
}

.descriptionDiv {
    clear: both;
    padding: 25px 0;
}

.description {
    overflow: hidden;
}

.author {
    padding-top: 10px;
}

.authorTag {
    font-weight: bold;
}

.avgRatingDiv {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 35px;
    border-radius: 15px;
    padding: 15px;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 300px;
}

.avgRating {
    display: block;
}

:global .collection .collection-item.avatar {
    padding-left: 25px;
}