@import url('https://fonts.googleapis.com/css?family=Jua');

.logoWrapper {
    display: flex;
    align-items: center;
}

.logoText{
    font-size: 2em;
    font-family: 'Jua', sans-serif;
    margin-left: 15px;
}

.logoImg {
    height: 50px;
    filter: invert(100);
    margin: 5px;
    margin-left: 25px;
}